<h1>Include.Game</h1>
<ul id="events">
  <% @events.each do |event| %>
    <li>
      <div class="name"><%= event.name %></div>
      <div class="description"><%= event.description %></div>
      <div class="start"><%= event.start %></td>
      <div class="end"><%= event.end %></td>
      <td><%= link_to 'Show', event %></td>
    </li>
  <% end %>
</ul>
