<h1>Register</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    Password:<br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    Password Confirmation:<br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
