<ul>
  <% if current_user %>
    <% if !@role %>
      <li><%= link_to 'RSVP', new_event_user_role_in_event_path(@event) %></li>
    <% elsif @role.owner? %>
      <li><%= link_to 'Add Participant', new_event_user_role_in_event_path(@event) %></li>
    <% else %>
      <li><%= link_to 'Cancel', user_role_in_event_path(@role), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
  <% else %>
    <li><%= link_to 'Login to RSVP', '/login' %></li>
  <% end %>
  <% for role in @event.user_role_in_events %>
    <li><strong><%= link_to role.associated_username, role.associated_user %></strong> | <%= role.status %>
    <% if @role %>
      <% if role == @role %>
        <% if role.message %>
          | <%= link_to 'Edit Message', edit_user_role_in_event_path(role) %>
        <% else %>
          | <%= link_to 'Add Message', edit_user_role_in_event_path(role) %>
        <% end %>
      <% elsif @role.owner? %>
        | <%= link_to 'Edit Info', edit_user_role_in_event_path(role) %>
      <% end %>
    <% end %>
    <% if role.message %>
      <br/><%= role.message %>
    <% end %>
    </li>
  <% end %>
</ul>