<ul>
  <% if @role and !@role.invited? %>
    <li><%= link_to 'Add Submission', new_event_submission_path(@event) %></li>
  <% end %>
  <% for submission in @event.submissions %>
    <li><strong><%= link_to submission.name, submission_path(submission) %></strong> | <%= submission.status %>
    <% if can_edit_submission?(@event, @role, submission) %>
        | <%= link_to 'Edit', edit_submission_path(submission) %>
        | <%= link_to 'Delete', submission_path(submission), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </li>
  <% end %>
</ul>
