<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Attendence:</strong>
  <%= render 'attendence' %>
</p>

<p>
  <strong>Submissions:</strong>
  <% if Event::submissions_status(@event) == Event::SUBMISSION_CLOSED %>
    <ul>
      <li>Submission will not open until <%= @event.start %>.</li>
      <li>It is still <%= Time.current %>.</li>
    </ul>
  <% else %>
    <%= render 'submissions' %>
  <% end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&zoom=18&size=640x400",
              class: 'img-fluid img-rounded', alt: "#{@event.address} on the map"%>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', :back %>
