<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Attendence:</strong>
  <% if current_user %>
    <% if !@role %>
      <br/><%= link_to 'RSVP', new_event_user_role_in_event_path(@event) %>
    <% elsif !@role.owner? %>
      <br/><%= link_to 'Cancel', event_user_role_in_event_path(@event, @role), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
  <ul>
<% for role in @event.user_role_in_events %>
    <li><strong><%= role.username %></strong> (<%= role.status %>)
    <% if role.message %>
      :<br/><%= role.message %>
    <% end %>
    <% if role == @role %>
      <br/>
      <% if role.message %>
        <%= link_to 'Edit Message', edit_event_user_role_in_event_path(@event, role) %>
      <% else %>
        <%= link_to 'Add Message', edit_event_user_role_in_event_path(@event, role) %>
      <% end %>
    <% end %>
    </li>
<% end %>
  </ul>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&zoom=18&size=640x400",
              class: 'img-fluid img-rounded', alt: "#{@event.address} on the map"%>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', :back %>
