<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @submission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @submission.description %>
</p>

<%= link_to 'Edit', edit_event_submission_path(@event, @submission) %> |
<%= link_to 'Back', :back %>
