<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @submission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @submission.description %>
</p>

<p>
  <strong>Header image:</strong>
  <%= @submission.header_image %>
</p>

<p>
  <strong>Icon image:</strong>
  <%= @submission.icon_image %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', :back %>
