<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @submission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @submission.description %>
</p>

<p>
  <strong>Submitted By:</strong>
  <%= render 'roles' %>
</p>

<p>
  <strong>Submission For:</strong>
  <%= link_to @event.name, @event %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Delete', submission_path(@submission), method: :delete, data: { confirm: 'Are you sure?' } %>
