<!DOCTYPE html>
<html>
<head>
  <title>Includegame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Include.Game</h1>

<!-- Header goes here! -->
<header>
  <% if current_user %>
    <!-- FIXME: add link to access user profile -->
    <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Register', '/register' %>
  <% end %>
</header>

<%= yield %>

<!-- Footer goes here! -->
<footer>
  We tried really hard to make this site!  Don't make fun of us (T_T)...
</footer>
</body>
</html>
